services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: adama-blog
    ports:
      - "80"
    volumes:
      - ./storage:/var/www/storage
      - ./bootstrap/cache:/var/www/bootstrap/cache
      # - ./.env:/var/www/.env
    networks:
      - laravel_network

networks:
  laravel_network:
    driver: bridge
